body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background_image.jpg'); /* Substitua 'background_image.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 123, 255, 0.7); /* Adicione transparência ao background-color */
    color: white;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    margin: 5px 0;
}

.logo {
    max-width: 200px; /* Defina o tamanho máximo da logo */
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
